<section class="detailproducts py-4">
<div class="container py-3">
<div class="card shadow-lg py-3">
<div class="circle text-center py-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Google_Contacts_icon.svg" class="img-fluid" width="250" alt="">
</div>

    <div class="container mx-auto">
        <div class="row">
        <div class="col-lg-6">
            <span class="text-muted">Name</span>
            <div class="form-group">
                <label for="name" class="turn">{{contacts.name}}</label>
            </div>
        </div>
        <div class="col-lg-6">
            <span class="text-muted">Email</span>
            <div class="form-group">
                <label for="name" class="turn">{{contacts.email}}</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="text-muted">Mobile No.</span>
            <div class="form-group">
                <label for="name" class="turn">{{contacts.phone}}</label>
            </div>
        </div>
        <div class="col-lg-6">
            <span class="text-muted">Active</span>
            <div class="form-group">
                <label for="name" class="turn">True</label>
            </div>
        </div>

    </div>
</div>
<div class="ml-3">
    <button class="btn btn-outline-success" routerLink="/cont"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to contacts</button>
</div>
</div>
</div>
</section>