<div class="home py-5">
    <div class="container py-5">
        <h2 class="display-3 text-center p-4">Front-End Assignment</h2>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 offset-3">
                      <a class="circle" routerLink="cont">
                        <img src="https://play-lh.googleusercontent.com/abxUwjG1zZsOn0WnMHENcaw_AXaHlVXKhLqLTi-3fZ6exJt2gIFmL5CfRAJcFR-wEA=s180-rw" class="img-fluid" alt="">
                    </a>
                    <p class=" mt-2 text-center">Contact App</p>
                </div>
                <div class="col-lg-3">
                    <a routerLink="currency">
                        <img src="https://www.jrustonapps.com/resources/images/icons/my_currency_converter.png" class="img-fluid cite" alt="">
                        </a>
                        <p class=" mt-2 text-center">Currency App</p>
                </div>
            </div>
        </div>
    </div>
</div>